@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Special+Elite&display=swap");
.rainbow-letter {
  font-family: "Special Elite", cursive;
  transition: color 0.3s;
  -webkit-user-select: none;
  user-select: none;
}

.rainbow-letter:hover {
  color: hsl(var(--hue), 100%, 50%);
  cursor: default;
}

